@keyframes swim-rtl {
    0%   { left: 100%; }
    100% { left: -1em; }
}

@keyframes wag-tail {
    0%   { transform: rotateY(-60deg); }
    50%  { transform: rotateY(60deg);  }
    100% { transform: rotateY(-60deg); }
}

.water {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.07;
    z-index: calc(1 - var(--layer) * 2);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body, .water {
    background: #012;
}

.fish {

    font-size: calc(512px / var(--layer));
    z-index: calc(0 - var(--layer) * 2);
    display: inline-block;
    position: fixed;
    right: 100%;

    animation-name: swim-rtl;
    animation-timing-function: linear;
    animation-duration: calc(3s * var(--layer) / 2);
    filter: hue-rotate(calc(360deg * var(--color)));

    width: 1em;
    height: 1em;

}

.fish:before, .fish:after {

    background: url('twemoji/fish.svg') center/1em no-repeat;
    position: absolute;

    display: block;
    width: 1em;
    height: 1em;
    content: ' ';
    overflow: hidden;

}

.fish:before {
    left: 0;
    width: 0.75em;
    background-position: left center;
}

.fish:after {
    right: 0;
    width: 0.25em;
    background-position: right center;
}

.fish:after {
    transform-origin: 0 center;
    animation-name: wag-tail;
    animation-timing-function: linear;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
}
